<div class="container-fluid">
  <div class="row">
    <div class="empty d-none d-sm-inline col-sm-3"></div>
    <div id="login-container" class="col-sm-6 p-4 border border-secondary rounded">
        <div class="mb-5">
            <h3>Login</h3>
            <p><small>Don't have an account yet? <a routerLink="/register">Register here</a></small></p>
        </div>
      <label><h5>Username</h5></label>
      <input
        type="text"
        placeholder="Username"
        id="username"
        class="form-control mb-4"
      />
      <label><h5>Password</h5></label>
      <input
        type="password"
        placeholder="Password"
        id="firstname"
        class="form-control mb-4"
      />
    </div>
    <div class="empty d-none d-sm-inline col-sm-3"></div>
  </div>
</div>
