<div class="container-fluid">
        <div class="row-12">
            <div class="col-12 text-center jumbotron">
                        <h1>Welcome to MyHero</h1>
                        <p>The app for every-day heroes and people in need</p>
                        <p>
                            <a class="btn btn-primary btn-large" routerLink="/heroList">
                            Find your hero!
                            </a>
                        </p>
            </div>
        </div>
</div>
 
